<mat-card class="home mat-elevation-z3 container">
  <mat-card-title class="title">
    Organizze
  </mat-card-title>
  <mat-card-subtitle class="subtitle mb-3">
    Organize seus projetos!
  </mat-card-subtitle>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" placeholder="Email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Senha" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Entrar</button>

    <div class="menus">
      <a routerLink="/forgot-password">Esqueci a senha </a>
      <a routerLink="/register">Cadastrar</a>
    </div>
  </form>

</mat-card>
<mat-toolbar class="footer">
  <span>
      Desenvolvido por <strong>Ostroski!</strong>
  </span>

</mat-toolbar>