<mat-card class="home mat-elevation-z3 container">
    <mat-card-title class="title">
      Organizze
    </mat-card-title>
    <mat-card-subtitle class="subtitle mb-3">
      Enviaremos um email com os passos a seguir!
    </mat-card-subtitle>
  
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" placeholder="Email">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Enviar</button>
  
      <div class="menus">
        <a routerLink="">Voltar</a>
      </div>
    </form>
  
  </mat-card>
  
  <mat-toolbar class="footer">
    <span>
        Desenvolvido por <strong>Ostroski!</strong>
    </span>
  
  </mat-toolbar>
  