<h2 mat-dialog-title>Equipe</h2>

  <mat-card mat-dialog-content>
    <mat-card-content>
      <!-- Tabela de Listagem de Membros -->
      <div *ngIf="team.length > 1; else noTeam">
        <mat-table [dataSource]="team" class="mat-elevation-z4" style="border-radius: 5px;">

          <!-- Nome Coluna -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let membro"> {{ membro.nome }} </mat-cell>
          </ng-container>

          <!-- Cargo Coluna -->
          <ng-container matColumnDef="cargo">
            <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
            <mat-cell *matCellDef="let membro"> {{ membro.cargo }} </mat-cell>
          </ng-container>

          <!-- Ações Coluna -->
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef>    Ações </mat-header-cell>
          <mat-cell *matCellDef="let membro">
            <button mat-button><a  (click)="editarMembro(membro)"><i class="material-icons v-middle" style="color: #537cf7;">edit</i></a></button>
            <button mat-button (click)="removerMembro(membro)"><a><i class="material-icons v-middle" style="color: #537cf7;">delete</i></a></button>
          </mat-cell>
        </ng-container>

          <!-- Header e Rows -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
      </div>

      <ng-template #noTeam>
        <p>Sem equipe no momento</p>
      </ng-template>

      <!-- Formulário de Adição de Novo Membro -->
      <div *ngIf="showAddForm" class="add-member-form mat-elevation-z2">
        <mat-card-content class="cardForm">
          <mat-card-title>
            Adicionar novo integrante no atual projeto:
          </mat-card-title>
          <form [formGroup]="equipeForm">
            <mat-form-field class="input" appearance="fill">
              <mat-label>Email Colaborador</mat-label>
              <input matInput formControlName="email" placeholder="Email Colaborador" id="input1" (click)="onInputClick('input1')">
            </mat-form-field>

            <ng-container *ngIf="clickedInput === 'input1'">
              <mat-form-field class="input">
                <mat-label>Cargo</mat-label>
                <mat-select formControlName="cargo" (selectionChange)="onCargoChange($event)">
                  <mat-option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo }}</mat-option>
                  <mat-option value="Outro">Outro</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Campo para o novo cargo, exibido apenas se 'Outro' for selecionado -->
              <mat-form-field *ngIf="showOtherCargoField" class="input">
                <mat-label>Digite o novo cargo</mat-label>
                <input matInput formControlName="otherCargo" placeholder="Novo Cargo">
              </mat-form-field>
            </ng-container>
            
            <mat-card-actions class="buttons-new-member">
              <button mat-button class="btn-padrao buttonn" (click)="cancelarAdicao()">Cancelar</button>
              <button mat-button class="btn-padrao buttonn" (click)="salvarNovoMembro()" [disabled]="equipeForm.invalid">Salvar</button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </div>
    </mat-card-content>

    <mat-card-actions class="button">
      <button mat-raised-button color="primary" class="buttonn" (click)="fecharDialog()">Fechar</button>
      <button mat-raised-button color="primary" class="buttonn" (click)="toggleAddForm()">Adicionar</button>
    </mat-card-actions>
  </mat-card>
