<h2 mat-dialog-title>Equipe</h2>
<div mat-dialog-content>
    <form [formGroup]="equipeForm">
        <mat-form-field class="input" appearance="fill">
            <mat-label>Email Colaborador</mat-label>
            <input matInput formControlName="email" placeholder="Email Colaborador">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="cargo">
                <mat-option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-button (click)="adicionarMembro()">Adicionar Membro</button>
    <button mat-button (click)="fecharDialog()">Fechar</button>

    <!-- <table mat-table [dataSource]="membrosEquipe">
         Defina as colunas da tabela aqui 
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let membro">{{ membro.email }}</td>
        </ng-container>

        <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef>Cargo</th>
            <td mat-cell *matCellDef="let membro">{{ membro.cargo }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let membro">
                <button mat-icon-button color="warn" (click)="excluirMembro(membro.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editarCargo(membro.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
</div>

