<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/home">
            <img class="logo" src="../assets/organizzelogo.png" alt="logo">
        </a>
    </span>
    
    <span>
        <mat-card-title routerLink="/home" class="olavo">
            Organizze
          </mat-card-title>
    </span>

  
        <!-- ... -->
        <div class="user">
            <button mat-button [matMenuTriggerFor]="menu">Olá! {{ this.primeiroNome }} <i class="material-icons v-middle">expand_more</i> </button>
            <mat-menu #menu="matMenu" >
                <button mat-menu-item (click)="openDialog('usuario-update')">Editar Perfil</button>
                <button mat-menu-item (click)="logout()">Logout</button>
                <!-- Adicione mais itens de menu aqui, se necessário -->
            </mat-menu>
        </div>
</mat-toolbar>
