.dash1{
    display: flex;
    }
    .title{
      margin: 15px 15px 0;
    }
    
    .subtitle{
      margin: 15px 15px 0;
    }
    
    button{
      width: 60%;
      margin: 15px 15px ;
    }
    .card{
      width: 50%
    }
    
    
  /* Adiciona margem inferior a cada item da lista */
.team-member {
  margin-bottom: 16px; /* Ajuste conforme necessário */
}

/* Adiciona uma borda inferior leve para separar visualmente os itens */
.team-member.mat-list-item {
  border-bottom: 1px solid #ddd; /* Ajuste a cor e estilo conforme necessário */
  padding-bottom: 8px; /* Espaçamento adicional abaixo do item */
}
