<app-header></app-header>
<nav class="content dash">


    <div class="dash1">
        <mat-card class="mat-elevation-z3 card">

            <mat-card-title class="title">Projeto: <h3>{{projeto.nome}}</h3>

                <mat-divider></mat-divider>
            </mat-card-title>

            <mat-card-subtitle class="subtitle">Descrição: {{projeto.descricao}} </mat-card-subtitle>
            <mat-card-subtitle class="subtitle">Data de Início: </mat-card-subtitle>
            <mat-card-subtitle class="subtitle">Data de Fim: </mat-card-subtitle>
           
            <br>

            <button mat-raised-button color="primary">
                Nova tarefa
            </button>
        </mat-card>
        <mat-card class="mat-elevation-z3 card">
            <mat-card-title class="title">
                Equipe:
                <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Atual membros da equipe e seus cargos:
            </mat-card-subtitle>

            <button mat-raised-button style="margin-top: 110px" (click)="openDialog('equipe')" color="primary">
                Editar
            </button>

        </mat-card>
    </div>
    <br>
    <mat-card>
        <app-projects-read></app-projects-read>
    </mat-card>
</nav>
<nav-bar></nav-bar>
<app-footer></app-footer>