.input {
  width: 100%;
  margin-bottom: 15px;
}

.datas {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.datas mat-form-field {
  width: 48%;
  
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}


