form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
       
}
.input{
    width: 100%;
}
.datas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
   
    margin: 0 15px 20px 10px;
    width: 75px;
}
.acoes{
    display: flex;
    justify-content: center;
}