<ng-container *ngIf="team.length > 1">
  <form [formGroup]="form">
    <mat-form-field appearance="fill" style="width: 450px">
      <mat-label>Atribuir tarefa:</mat-label>
      <mat-select formControlName="selectedMember" (selectionChange)="emitirUsuarioSelecionado()">
        <mat-option *ngFor="let member of team" [value]="member.usuarioId">
          {{ member.nome }} - {{ member.cargo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button class="btnEdit" mat-button (click)="removerResponsavel()">Remover Responsável</button>
    </div>
  </form>
</ng-container>
