<app-header></app-header>
<div class="content">

    <h1>Página Home de Teste</h1>

    <p>
        Este é um parágrafo de teste para a página de exemplo. Aqui você pode adicionar o conteúdo que deseja testar,
        seja texto, informações ou qualquer outro tipo de conteúdo que deseje exibir. Este é um exemplo simples de como
        você pode estruturar uma página com títulos e parágrafos.
    </p>

    <p class="highlight">
        Este é um parágrafo destacado com um fundo colorido e uma borda à esquerda. Você pode usar esse estilo para
        destacar informações importantes ou criar seções distintas em sua página.
    </p>

    <p>
        Continue adicionando mais parágrafos conforme necessário. Você pode ajustar o estilo e o layout de acordo com
        suas necessidades específicas. Lembre-se de que um bom design deve ser claro e fácil de ler.
    </p>

    <p class="highlight">
        Adicionar mais conteúdo aqui pode ajudar a testar diferentes elementos e garantir que sua página se comporte
        como esperado em diferentes tamanhos de tela e dispositivos. Testar o layout e o estilo com vários tipos de
        conteúdo é uma boa prática.
    </p>

</div>
<nav-bar></nav-bar>
