<br>

<div class="dashzao" *ngIf="response.length == 0">
  <br> 
  <mat-card-subtitle class="subtitle">
      Parece que voce não tem nenhuma tarefa criada no momento! Vamos criar sua primeira tarefa?
  </mat-card-subtitle>
  <br> <br>

</div>

<div class="dashzao" *ngIf="response.length !== 0">
  <div class="container">
    <h2>A fazer</h2>
    <div cdkDropList #todoList="cdkDropList" id="ToDo" [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="['Doing']" class="list" (cdkDropListDropped)="drop($event, 'ToDo')">
      <div class="list-item" *ngFor="let item of todo" cdkDrag>
        <mat-label> <strong>Nome:</strong> {{item.nome}}</mat-label>
        <ng-container>
          <p *ngIf="item.nomeUsuario"><strong>Responsável: </strong> {{item.nomeUsuario}}</p>
          <p *ngIf="item.dataEntrega">Data de Entrega: {{item.dataEntrega | date }} </p>
        </ng-container>
        <button mat-button (click)="viewTaskDetails(item)">Ver mais</button>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h2>Em andamento</h2>
    <div cdkDropList #doingList="cdkDropList" id="Doing" [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="['ToDo', 'Analyzing']" class="list" (cdkDropListDropped)="drop($event, 'Doing')">
      <div class="list-item" *ngFor="let item of doing" cdkDrag>
        <mat-label> <strong>Nome:</strong> {{item.nome}}</mat-label>
        <ng-container>
          <p *ngIf="item.nomeUsuario"><strong>Responsável: </strong> {{item.nomeUsuario}}</p>
          <p *ngIf="item.dataEntrega">Data de Entrega: {{item.dataEntrega | date }} </p>
        </ng-container>
        <button mat-button (click)="viewTaskDetails(item)">Ver mais</button>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Revisão</h2>
    <div cdkDropList #analyzingList="cdkDropList" id="Analyzing" [cdkDropListData]="analyzing"
      [cdkDropListConnectedTo]="['Doing', 'Done']" class="list" (cdkDropListDropped)="drop($event, 'Analyzing')">
      <div class="list-item" *ngFor="let item of analyzing" cdkDrag>
        <mat-label> <strong>Nome:</strong> {{item.nome}}</mat-label>
        <ng-container>
          <p *ngIf="item.nomeUsuario"><strong>Responsável: </strong> {{item.nomeUsuario}}</p>
          <p *ngIf="item.dataEntrega">Data de Entrega: {{item.dataEntrega | date }} </p>
        </ng-container>
        <button mat-button (click)="viewTaskDetails(item)">Ver mais</button>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Concluído</h2>
    <div cdkDropList #doneList="cdkDropList" id="Done" [cdkDropListData]="done" 
    [cdkDropListConnectedTo]="['analyzing']" class="list" (cdkDropListDropped)="drop($event, 'Done')">

      <div class="list-item" *ngFor="let item of (isDoneExpanded ? done : done | slice:0:maxVisibleItems)" cdkDrag>
        <mat-label> <strong>Nome:</strong> {{item.nome}}</mat-label>
        <ng-container>
          <p *ngIf="item.nomeUsuario"><strong>Responsável: </strong> {{item.nomeUsuario}}</p>
          <p *ngIf="item.dataEntrega">Data de Entrega: {{item.dataEntrega | date }} </p>
        </ng-container>
        <div style="display: flex; justify-content: space-between;">

          <button mat-button (click)="viewTaskDetails(item)">Ver mais</button>
          <button mat-button (click)="arquivarTask(item)">Arquivar</button>
        </div>
      </div>

      <button *ngIf="done.length > maxVisibleItems" (click)="toggleDoneList()">
        {{isDoneExpanded ? 'Mostrar menos' : 'Mostrar mais'}}
      </button>

    </div>
  </div>
</div>