<h2 mat-dialog-title>Criar nova Tarefa</h2>
<div mat-dialog-content>
    <form [formGroup]="novaTarefaForm">
        <mat-form-field class="input" appearance="fill">
            <mat-label>Nome da Tarefa</mat-label>
            <input matInput formControlName="nome" placeholder="Nome da Tarefa" name="nome">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
            <mat-label>Observações</mat-label>
            <textarea matInput formControlName="observacoes" placeholder="Detalhes sobre a Tarefa"></textarea>
        </mat-form-field>

        <div class="datas">
            <mat-checkbox formControlName="semDataInicio" (change)="toggleDataInicio($event.checked)">
                Data atual
            </mat-checkbox>
            <mat-form-field *ngIf="!semDataInicio">
                <mat-label>Data Início</mat-label>
                <input type="date" matInput formControlName="dataCriacao">
            </mat-form-field>
        </div>

        <div class="datas">
            <mat-checkbox formControlName="semDataEntrega" (change)="toggleDataEntrega($event.checked)">
                Sem data de entrega
            </mat-checkbox>
            <mat-form-field *ngIf="!semDataEntrega">
                <mat-label>Data Entrega</mat-label>
                <input type="date" matInput formControlName="dataEntrega">
            </mat-form-field>
        </div>

        <mat-error *ngIf="novaTarefaForm.hasError('dateRangeInvalid')">
            A data de entrega não pode ser anterior à data de início.
        </mat-error>
        <mat-error *ngIf="novaTarefaForm.hasError('endDateInvalid')">
            A data de entrega não pode ser maior que a data atual.
        </mat-error>

        <br>
        <div>
            <team-delegate [numberProjeto]="idDoProjeto" (usuarioSelecionado)="onUsuarioSelecionado($event)">
            </team-delegate>
        </div>
    </form>
    <div mat-dialog-actions>
        <button mat-button class="btn-padrao" (click)="closeDialog()">Cancelar</button>
        <button mat-button class="btn-padrao" type="submit" (click)="salvarTarefa()" [disabled]="novaTarefaForm.invalid">Salvar</button>
    </div>
</div>
