.sidenav {
    margin-top: 63.99px;
    background-color: #6a8fff;
    width: 150px;
    height: 100%;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

