<div class="dashzao">
  <div class="container">
    <h2>Análise</h2>
    <div cdkDropList
         #analyzingList="cdkDropList"
         id="Analyzing"
         [cdkDropListData]="analyzing"
         [cdkDropListConnectedTo]="['ToDo']"
         class="list"
         (cdkDropListDropped)="drop($event, 'Analyzing')">
      <div class="list-item" *ngFor="let item of analyzing" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="container">
    <h2>Á fazer</h2>
    <div cdkDropList
         #todoList="cdkDropList"
         id="ToDo"
         [cdkDropListData]="todo"
         [cdkDropListConnectedTo]="['Analyzing', 'Doing']"
         class="list"
         (cdkDropListDropped)="drop($event, 'ToDo')">
      <div class="list-item" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="container">
    <h2>Fazendo</h2>
    <div cdkDropList
         #doingList="cdkDropList"
         id="Doing"
         [cdkDropListData]="doing"
         [cdkDropListConnectedTo]="['ToDo', 'Done']"
         class="list"
         (cdkDropListDropped)="drop($event, 'Doing')">
      <div class="list-item" *ngFor="let item of doing" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="container">
    <h2>Feito</h2>
    <div cdkDropList
         #doneList="cdkDropList"
         id="Done"
         [cdkDropListData]="done"
         [cdkDropListConnectedTo]="['Analyzing', 'ToDo', 'Doing']"
         class="list"
         (cdkDropListDropped)="drop($event, 'Done')">

      <!-- Exibe os primeiros 10 itens ou todos, dependendo do estado de expansão -->
      <div class="list-item" *ngFor="let item of (isDoneExpanded ? done : done | slice:0:maxVisibleItems)" cdkDrag>
        {{item}}
      </div>

      <!-- Botão para expandir/comprimir a lista -->
      <button *ngIf="done.length > maxVisibleItems" (click)="toggleDoneList()">
        {{isDoneExpanded ? 'Mostrar menos' : 'Mostrar mais'}}
      </button>

    </div>
  </div>
</div>