<mat-card>
  <mat-card-title> Teste de tarefas: </mat-card-title>
  <div *ngFor="let tarefa of response; let i = index">
    <h3>Tarefa {{ i + 1 }}</h3>
    <p><strong>Nome:</strong> {{ tarefa.nome }}</p>
    <p><strong>Observações:</strong> {{ tarefa.observacoes }}</p>
    <p><strong>Data de Criação:</strong> {{ tarefa.dataCriacao | date }}</p>
    <p><strong>Data de Entrega:</strong> {{ tarefa.dataEntrega | date }}</p>
    <p><strong>ID do Projeto:</strong> {{ tarefa.projetoId }}</p>
    <hr>
  </div>
  

  <br><br>
</mat-card>
<br><br>
<div class="dashzao">
  <div class="container">
    <h2>Análise</h2>
    <div cdkDropList
         #analyzingList="cdkDropList"
         id="Analyzing"
         [cdkDropListData]="analyzing"
         [cdkDropListConnectedTo]="['ToDo']"
         class="list"
         (cdkDropListDropped)="drop($event, 'Analyzing')">
      <div class="list-item" *ngFor="let item of analyzing" cdkDrag>
        {{item}}
        <button mat-button (click)="viewTaskDetails(item)">Ver</button>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Á fazer</h2>
    <div cdkDropList
         #todoList="cdkDropList"
         id="ToDo"
         [cdkDropListData]="todo"
         [cdkDropListConnectedTo]="['Analyzing', 'Doing']"
         class="list"
         (cdkDropListDropped)="drop($event, 'ToDo')">
      <div class="list-item" *ngFor="let item of todo" cdkDrag>
        {{item}}
        <button mat-button (click)="viewTaskDetails(item)">Ver</button>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Fazendo</h2>
    <div cdkDropList
         #doingList="cdkDropList"
         id="Doing"
         [cdkDropListData]="doing"
         [cdkDropListConnectedTo]="['ToDo', 'Done']"
         class="list"
         (cdkDropListDropped)="drop($event, 'Doing')">
      <div class="list-item" *ngFor="let item of doing" cdkDrag>
        {{item}}
        <button mat-button (click)="viewTaskDetails(item)">Ver</button>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Feito</h2>
    <div cdkDropList
         #doneList="cdkDropList"
         id="Done"
         [cdkDropListData]="done"
         [cdkDropListConnectedTo]="['Doing']"
         class="list"
         (cdkDropListDropped)="drop($event, 'Done')">

      <div class="list-item" *ngFor="let item of (isDoneExpanded ? done : done | slice:0:maxVisibleItems)" cdkDrag>
        {{item}}
        <button mat-button (click)="viewTaskDetails(item)">Ver</button>
      </div>

      <button *ngIf="done.length > maxVisibleItems" (click)="toggleDoneList()">
        {{isDoneExpanded ? 'Mostrar menos' : 'Mostrar mais'}}
      </button>

    </div>
  </div>
</div>
