<app-header></app-header>
<div class="content">
    <mat-card class="dash mat-elevation-z3">

        <mat-card-title class="title">
            Arquivo de Projetos e tarefas!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            Sistema para teste de Arquivos de trabalhos feitos!
        </mat-card-subtitle>
        <br>
    </mat-card><br>
    <mat-card class="dash mat-elevation-z3">

        <mat-card-subtitle class="subtitle">
            Sem projetos arquivados no momento
        </mat-card-subtitle>

        <button mat-raised-button routerLink="/projects" color="primary">
            Tela de Projetos
        </button>
    </mat-card>

</div>
<nav-bar></nav-bar>