<app-header></app-header>
<div class="content">
    <mat-card class="dash mat-elevation-z3">

        <mat-card-title class="title">
            Agenda de projetos!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            Sistema para teste de Agenda!
        </mat-card-subtitle>
        <br>
    </mat-card>
    <br>
    <mat-card class="dash mat-elevation-z3">

        <mat-card-subtitle class="subtitle">
            Sem projetos com data no momento
        </mat-card-subtitle>

        <button mat-raised-button routerLink="/projects" color="primary">
            Novo Projeto
        </button>
    </mat-card>
    
</div>
<nav-bar></nav-bar>
