.auth-links {
  margin-top: 15px;
  a {
    margin-right: 15px;
  }
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.content{

  //margin-top: 15px;
  margin-left: 165px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  // height: 500px;
  // padding-left: 165px;
  // padding-right: 15px;
  // padding-top: 10px;
  // padding-bottom: 70px;
  color: rgb(0, 0, 0)
}

.nav-bar {
  width: 150px;
  padding-bottom: 20px;
  background-color: #6a8fff;
  color: white;
  height: 100vh; /* Altura total da viewport */
   height: 100%;
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.footerr {
  height: 50px;
  background-color: #b0c3fd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
