

body {
  font-family: Arial, sans-serif;
}

.auth-links {
  margin-top: 15px;
  a {
    margin-right: 15px;
  }
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content{
  height: 500px;
  padding-left: 165px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 70px;
  color: rgb(0, 0, 0)
}