<!-- projects-read.component.html -->
<div>
  
    <div class="mat-elevation-x3">
        <mat-card>
            <mat-card class="dash">
                <mat-card-title class="title">
                    Meus Projetos:
                </mat-card-title>
                <div *ngIf="totalItems == 0">
                    <mat-card-subtitle class="subtitle">
                        Parece que você não tem nenhum projeto criado no momento!
                    </mat-card-subtitle>
                </div>
            </mat-card>
            
            <div>
                <table mat-table [dataSource]="dataSourceProjetos" matSort #sortProjetos="matSort" class="mat-elevation-z8">
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                        <td mat-cell *matCellDef="let projeto">{{projeto.nome}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                        <td mat-cell *matCellDef="let projeto">{{projeto.descricao}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="data_inicio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Início </th>
                        <td mat-cell *matCellDef="let projeto">{{projeto.dataInicio | date}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="data_fim">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Fim </th>
                        <td mat-cell *matCellDef="let projeto">{{projeto.dataFim | date}}</td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="abrirDetalhes(row.id)"></tr>
                </table>
               
                <mat-paginator #paginatorProjetos
                    [pageSize]="6"
                    [pageSizeOptions]="[3, 5, 7]"
                    [showFirstLastButtons]="true"
                    [length]="totalItems"
                    aria-label="Selecione a página">
                </mat-paginator>
            </div>
            <p style="color: #575454;
        padding-left: 80%;
        font-size: 13px;">Obs: Clique duas vezes no projeto para abrir.</p>
        </mat-card>
        <div class="mat-elevation-x3">
    </div>

    <br>
        <mat-card>
            <mat-card class="dash">
                <mat-card-title class="title">
                    Projetos que participo:
                </mat-card-title>
            </mat-card>

            <div *ngIf="totalIPart == null">
                <mat-card-subtitle class="subtitle" style="padding: 15px;">
                    Parece que você não está incluído em nenhum projeto no momento!
                </mat-card-subtitle>
            </div>

            <div *ngIf="totalIPart > 0">
                <table mat-table [dataSource]="dataSourceParticipacao" matSort>
                    <!-- Nome do Projeto Column -->
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                        <td mat-cell *matCellDef="let projetoPart">{{projetoPart.projeto.nome}}</td>
                    </ng-container>

                    <!-- Descrição do Projeto Column -->
                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                        <td mat-cell *matCellDef="let projetoPart">{{projetoPart.projeto.descricao}}</td>
                    </ng-container>

                    <!-- Cargo Column -->
                    <ng-container matColumnDef="cargo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Meu cargo:</th>
                        <td mat-cell *matCellDef="let projetoPart">{{projetoPart.cargo}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="projectColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: projectColumns;" (dblclick)="abrirDetalhes(row.projetoId)"></tr>
                </table>

                <mat-paginator #paginatorParticipacao
                    [length]="totalIPart"
                    [pageSize]="6"
                    [pageSizeOptions]="[3, 5, 7]">
                </mat-paginator>
            </div>
            <p style="color: #575454;
        padding-left: 80%;
        font-size: 13px;">Obs: Clique duas vezes no projeto para abrir.</p>
        </mat-card>
    </div>
</div>